/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */



@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", serif;
}

body{
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    display: inline-block;
}

a,span,p,i,td,tr,th,table, ol,ul,li{
    font-size: 14px;
    color: #282828;
    letter-spacing: 0.3px;
    line-height: 130%;
}
ul {
    list-style: disc;
}

img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.3px;
    font-weight:500 ;
}
.heading{
    padding: 3rem 1rem 1rem 1rem;
    text-align: center;
}
.heading h1{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 5px;
}
@media screen and (max-width: 576px) {
    .heading{
        padding: 3rem 1rem 0rem 1rem;
        text-align: center;
    }
}